$btnClr: rgba(188, 16, 80, 1);

$pagesBcg: linear-gradient(180deg, rgb(7, 4, 43) 1.1%, rgb(131, 12, 56) 130.5%);

$titleClr: white;
$heroLayerClr: rgba(7, 4, 43, 0.945);
$navLinkClr: white;
$dropNavbcgClr: #0f0f0fbd;
$dropNavOneBcg: rgba(7, 7, 7, 0.945);
$SliderCardheight: 420px;
$SliderCardWidth: 280px;
$decrCardClr: white;
$GenreBcgBlue: blue;
$GenreBcgOrange: orange;
$GenreBcgGreen: rgb(115, 255, 0);
$GenreBcgRed: rgb(255, 51, 0);
$starClr: yellow;
$movieListBcg: $pagesBcg;
$shopListBcg: rgb(7, 7, 7);
$shopListText: rgb(219, 219, 219);
$exitBtnBcg: rgba(188, 16, 80, 1);
$oneItemBcg: rgba(95, 94, 94, 0.671);
$oneItemName: rgb(214, 211, 211);
$borderLine: black;
$plusMinusClr: rgb(187, 186, 186);
$plusMinusHoverClr: $exitBtnBcg;
$sumClr: $exitBtnBcg;
$sumTitleClr: rgb(133, 131, 131);
$addBtnBcg: rgba(188, 16, 80, 1);

$addBtnClr: rgb(240, 240, 245);
$clickedBtnBcg: rgb(158, 154, 154);
$titleFont: "Goudy Old Style";

$movieCardHeight: 260px;
$movieCardWidth: 215px;
$imgMovieCardWidth: 213px;
$imgMovieCardHeight: 258px;

//news
$newsTitle: rgb(18, 179, 179);
$spanClrNews: yellow;
$timeSpanClr: rgb(151, 151, 151);
$newsParagraphClr: rgb(211, 211, 211);
$newsMainTitle: white;

//movie page
$bcgMovie: url("../photos/bcg.jpg");
$bcgContent: url("../photos/p.jpg");
$navBcg: rgba(0, 0, 0, 0.623);
$aboutParagraphClr: rgb(207, 204, 204);
$bcgLayer: rgba(0, 0, 0, 0.767);
$celebClr: rgb(209, 205, 205);
$detailsClr: rgb(36, 111, 250);
$aboutsSpanClr: yellow;
